* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Letra Asignada';
    src: url(oswald-font/static/Oswald-Regular.ttf);
}

.body-container {
    font-family: 'Letra Asignada';
    background: url(chess-bg.png) no-repeat center;
    background-size: cover;
    height: 100vh;
    color: #1b1c20;
    position: relative;
}

.chessboard-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 530px;
    height: 550px;
    z-index: 1;
}

.solo-label {
    margin-right: 5px;
}

@media screen and (min-width:480px) {
    .solo-label {
        margin-left: 30px;
    }
}

@media screen and (min-width:1024px) {
    .solo-label {
        margin-left: initial;
    }
}

.flip {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    border: 30px solid #333333;
    margin: 20px;
    overflow: hidden;
    transition: 1s ease-out;
    background-color: #ffffff;
}

.flip div {
    width: 54px;
    height: 54px;
    text-align: center;
    font-size: 40px;
}

.grey {
    background-color: #999999;
}

#rotar:checked+.flip {
    transform: rotateX(180deg);
}

#rotar:checked+.flip div {
    transform: rotateX(180deg);
}