
/*-----------general------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "oswald";
    src: url(./Oswald/static/Oswald-ExtraLight.ttf);
}
  
body {
    font-family: oswald; 
    color: #1b1c20;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;

}
/*-------------sección video inicial--------------*/

.video_container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video {
    height: 100vh;
    object-fit: fill;
    width: 100vw;
    object-fit: cover;
    opacity: 0.5;
}

.title {
    position: absolute;
    text-align: center;
    color: #ffffff;  
    font-size: 1.3rem;
}

/*-------------Sección cards------------*/

.cards_title {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10%;
    margin-bottom: 20%;
}

.cards_container {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 40%;

}

.cards_wrap {
    margin: 10px;
    -webkit-perspective: 2000;
    perspective: 2000;
    
}

.card {
    width: 280px;
    height: 170px;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.8s ease;
      
}

.card_front, .card_back, .card_middle_front, .card_middle_back {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 5%;
    align-items: center;
    color: #ffffff;
     
}

.card_front {
    text-align: center;
    padding-top: 25px;
    text-shadow: 11px 15px 4px rgba(27, 24, 24, 0.91);
    
}

.card_back {
    transform: rotateY(180deg);
    display: flex;
    padding: 15px;
    text-align: center;
    color: #ffffff;
    background-color: #313131;
    justify-content: center;
}

.cards_wrap:hover .card {
    transform: rotateY(180deg);
    
}

.card_forest {
    background-image: url(./forest.jpg);
    background-size: cover;
}


.card_mountain {
    background-image: url(./mountain.jpg);
    background-size: cover;   
}

.card_back>p, .card_middle_back>p{
    color: #999999;
    margin: 15px;
}

/*Card del medio*/

.cards_wrap-middle{
    margin: 10px;
    -webkit-perspective: 2000;
    perspective: 2000;

}

.card-middle{
    width: 280px;
    height: 170px;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.8s ease;

}

.card_middle_front{
    text-align: center;
    padding-top: 25px;
    text-shadow: 11px 15px 4px rgba(27, 24, 24, 0.91);


}

.card_middle_back{
    transform: rotateX(180deg);
    display: flex;
    padding: 15px;
    text-align: center;
    color: #ffffff;
    background-color: #313131;
    justify-content: center;

}

.cards_wrap-middle:hover .card-middle {
    transform: rotateX(180deg);
    
}

.card_desert {
    background-image: url(./desert.jpg);
    background-size: cover;
}


/*--------------Sección Pricing----------------*/

/*Color de fondo de la sección de pricing: #F0F4F7
- Color del título del principal de la sección de pricing: #6e768d
- Color del subtítulo de la sección de pricing: #b4bdc6
- Color del texto de las cards de pricing: #717787
- Color de fondo de los botones de pricing: #71ce73
- Color de sombra de los botones de pricing: #66ac64
- Color de fondo de los checks de pricing: #74ce6a
- Color de fondo del círculo `most popular` de la sección de pricing: #3bbdee*/

.pricing_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #F0F4F7; 
    padding-bottom: 40%;
}

.pricing_title {
    text-align: center;
    margin-top: 5%;
    color: #6e768d;
    margin-bottom: 8%;
    font-size: 1.4rem;
}

.pricing_title>p {
    color: #b4bdc6;
    font-size: 0.8rem;
    margin-top: 5%;
}

.pricing_card_title{
    margin-top: 10px;
}

.pricing_card, .pricing_card-middle {
    background-color: #ffffff;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
}

.pricing_card {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 180px;
    align-items: center; 
    font-size: small;
    color: #717787; 
}



.pricing_card-middle {
    width: 280px;
    height: 225px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-size: small;
    color: #717787;
    position: relative;  
}

.pricing_section {
    display: flex;
    align-items: center
    
}
.icon {
    color: #74ce6a;
    margin-right: 10px;
}

/*botón*/

.pricing_button {
    background-color: #71ce73;
    box-shadow: 0px 2px 1px 0px #66ac64;
    margin-top: 10px;
    border-radius: 3px;
    padding: 7px;
    font-size: 0.4rem;
    border: none;
    color: #ffffff;
    width: 90px;
}

.pricing_button:hover {
    box-shadow: none;
}

/*precio*/

.price {
    display: flex;
    list-style: none;
    justify-content: center;
    
}

.price p {
    font-size: 0.5rem;
    margin-top: 20px;
}

/*most popular*/

.most_popular {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #3bbdee;
    color: #ffffff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 5px;
    top: -10px;
    
}

.most_popular p {
    font-size: 0.6rem;
    text-align: center;
}

/*-------------Versión tablet---------------*/

/*
- Tablet: breakpoint desde 481 hasta 1024px
- En la versión Mobile y tablet, se mostrará la cabecera con un menú hamburguesa
- Pricing horizontal*/


@media screen and (min-width: 481px){

    /*cards*/

    .cards_container {
        margin-top: 5%;
        margin-bottom: 40%;
    }
    .cards_title {
        margin-top: 5%;
        margin-bottom: 10%;
    }


    /*pricing*/

    .pricing_card {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        
    }
      
    .pricing_card-middle {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
     
    }

    .pricing_container {
        padding: 30px;
    }

    .pricing_button {
        margin-top: 10px;
        padding: 12px;
        font-size: 0.6rem;
        width: 100px;
    }

    .pricing_pack {
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 20px;
    }

    .pricing_title {
        margin-bottom: 4%;
    }

    .pricing_card_title {
        font-size: 1.1rem;
    }
}

/*----------------Versión Desktop---------------*/


@media screen and (min-width: 1025px){

    /*cards*/

    .cards_container {
        margin-top: 5%;
        margin-bottom: 30%;
    }
    .cards_title {
        margin-top: 5%;
        margin-bottom: 10%;
    }


    /*pricing*/


    .pricing_card {
        flex-direction: column;
        justify-content: center;    
        width: 280px;
        height: 100%;
        padding: 5%;
    }

    .pricing_card-middle {
        flex-direction: column;
        width: 280px;
        height: 100%;
        padding: 5%;

     
    }

    .pricing_container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        gap: 3%;
        height: 100%;
        padding-top: 5%;
        padding-bottom: 15%;

    }
    .pricing_title {
        text-align: center;
        margin-bottom: 20px;
        width: 100vw;

    }

    .line {
        width: 200px;
        height: 1px;
        border: 1px solid;
        border-color:#cfd0d1;
        margin: 20px;
        
    }

    .pricing_pack {
        gap: 1px;
    }

    .pricing_card:hover, .pricing_card-middle:hover {
        transform: scale(1.08);
        transition: 0.3s linear;
        

    }

    .pricing_card-middle:hover>.most_popular {
        transform:rotateY(360deg);
        transition: 0.5s ease;
    }

}

/*------------Versión Desktop-XL---------------*/

@media screen and (min-width: 1025px){

    .cards_wrap {
        
    }




}











